       h1{
            font-size: 46px;
            text-align: center;
            text-decoration: none;
            background-color: teal;
            color: white;
            display: inline;
            font-family: Georgia, 'Times New Roman', Times, serif;
            padding: 17px 10px 12px 12px;
            position: relative;   top: -6px;
       }
        h3{
            font-size: 30px;
            color: teal;
        }
        nav {
            display:inline;
            padding-top:40px;
            position: relative; top: 22px;
            top: -30px;
            font-size: 26px;

        }
        section{
            display: block;
            background-color: white;
            padding: 50px; 
            width: auto;
            margin: 15px;
        }
        .content{
            width: 960px;
            height: auto;
            margin: auto;
        }
        p{
            font-size: 20px;
            font-weight: bolder;
        }
        header{
            background-color: white;
            margin: 0px;
            padding: 20px 0px 9px 20px;
        }
        nav{
            float: right;
        }

        a {
            color:grey;
            text-decoration:none;
            padding: 25px;
        }
        footer{
            display: block;
            background-color: gray;
            border-top: teal solid 6px;
            text-align: center;

        }
        img{
            float: left;
            padding: 2px 35px 10px 0px;
        }